.Linkedin-apply{
  background-color: rgb(10, 102, 194);
  font-weight: bold;
  font-size: 15px;
  border: none;
  color: white;
  height: 35px;
  width: 240px;
  border-radius: 18px;
}
.Save{
  background-color: white;
  color: rgb(10, 102, 194);
  font-weight: bold;
  font-size: 15px;
  border-color: rgb(10, 102, 194);
  border-style: solid;
  height: 35px;
  width: 70px;
  border-radius: 18px;
}