.Uber{
  background-color: black;
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.Uber:hover{
opacity: .8;
background-color: gray;
}  
.Uber:active{
opacity: .5;
}
